
## <summary>policy for bds</summary>


########################################
## <summary>
##	Transition to bds.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bds_domtrans',`
	gen_require(`
		type bds_t, bds_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bds_exec_t, bds_t)
')


########################################
## <summary>
##	Execute bds server in the bds domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bds_initrc_domtrans',`
	gen_require(`
		type bds_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bds_initrc_exec_t)
')


########################################
## <summary>
##	Search bds lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bds_search_lib',`
	gen_require(`
		type bds_var_lib_t;
	')

	allow $1 bds_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bds lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bds_read_lib_files',`
	gen_require(`
		type bds_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bds_var_lib_t, bds_var_lib_t)
')

########################################
## <summary>
##	Manage bds lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bds_manage_lib_files',`
	gen_require(`
		type bds_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bds_var_lib_t, bds_var_lib_t)
')

########################################
## <summary>
##	Manage bds lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bds_manage_lib_dirs',`
	gen_require(`
		type bds_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bds_var_lib_t, bds_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bds environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bds_admin',`
	gen_require(`
		type bds_t;
		type bds_initrc_exec_t;
		type bds_var_lib_t;
	')

	allow $1 bds_t:process { ptrace signal_perms };
	ps_process_pattern($1, bds_t)

	bds_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bds_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bds_var_lib_t)

')

